@charset "utf-8";


body{
	font-size: 1em;
	font-weight: 400;
}

h1{
	color: #66bbff;
}

.botao{
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: #000000;
	margin-bottom: 10px;
}

.tipoTexto1{
	width: 350px;
	padding: 5px;
	margin-bottom: 2px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.tipoTexto2{
	padding: 5px;
	margin-bottom: 2px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#tabelaContatos{
	margin-top: 30px;
	border-collapse: collapse;
}

#tabelaContatos th{
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff; 
}

#tabelaContatos td{
	border: 1px solid #ddd;
	padding: 10px;
}

#tipoTexto3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	
}